
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}


body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins";
    
}

a{
    color: black;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rebeccapurple */
    box-shadow: 2px -2px 3px black;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: white;


}

.nav_list, ul{
    display: flex;
    list-style-type: none;
}

.nav_list, ul, li{
    margin-left: 60px;
}
.nav_list, ul, li, a:hover{
    color: rgb(74, 73, 73);
}
/* li, a:after{
    content: " ";
    position: absolute;
    background-color: #3e6ff4;
    height: 2px;
    width: 10px;
    left: 0;
} */

#home{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 30px;
}

.home_text, h2{
    margin-top: 20px;
}

.home_img{
   margin-top: 80px;
}

span{
    color:#3e6ff4;
}

.button{
    background-color: #3e6ff4;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.social_link{
    margin-top: 8px;
}

.selection_title{
    text-align: center;
    color: #3e6ff4;
    font-size: 30px;
    padding: 50px;
}

.about_container{
   display: flex;
   justify-content: space-around ;
   align-items: center;
}

.about_img img{
    width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    
}


.tools{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills_img img{
    border-radius: 10px;
    width: 500px;
}

.skills_boxes{
    border: 2px solid black;
    gap: 20px;
    height: 20px;
}
/* .box1{
    border: 2px solid black;
    height: 30px;
}
.box2{
    border: 2px solid black;
    height: 30px;
}
.box3{
    border: 2px solid black;
    height: 30px;
} */
.boxes_work{
    
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-top: 2rem;

}


.work_img img{
    width: 350px;
    border-radius: 15px;
    padding-top: 10px;
}

.boxes{
    text-align: center;
    padding-bottom: 20px;
}

.contact_input{
    border: 1.5px solid black;
    border-radius: 5px ;
    padding: 1rem;
    width: 300px;
    margin-bottom: 20px;
}
.submit{
    background-color: #3e6ff4;
    border-radius: 7px;
    padding: 4px;
    color: white;
    width: 100px;
}

.footer{
    padding: 30px;
    background-color: #0d1730;
    height: 150px;
    color: white;
    text-align: center;
}

 /* .footer .images_footer{
    margin-bottom: 10px;
    font-size: 20px;
} */
